<a href="https://colab.research.google.com/github/uzair-ds/data-science-exercises/blob/main/dsa_exercises_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Coding Exercise - 1

## 1.2 - List

In [ ]:
a = [12,32,2,45,666,321,1.5,1.5,1.5,0.001]

In [ ]:
a.append("NewElement")

In [ ]:
a

[12, 32, 2, 45, 666, 321, 1.5, 1.5, 1.5, 0.001, 'NewElement']

In [ ]:
a.insert(0,"InsertedElementAtZeroIndex")

In [ ]:
a

['InsertedElementAtZeroIndex',
 12,
 32,
 2,
 45,
 666,
 321,
 1.5,
 1.5,
 1.5,
 0.001,
 'NewElement']

In [ ]:
"CheckOne" in a

False

In [ ]:
a.count(1.5) #count number of times 1.5 occured in the list

3

In [ ]:
a.index(1.5) #index of first occuring of 1.5

7

In [ ]:
a.index(1.5,5,8)  #index of 1.5 between index 5 to 8

7

In [ ]:
a.pop() #return removed element

'NewElement'

In [ ]:
a

['InsertedElementAtZeroIndex', 12, 32, 2, 45, 666, 321, 1.5, 1.5, 1.5, 0.001]

In [ ]:
a.remove(666) #remove element by specific element

- In python variable or element in list is are stored at different location. - List can dynamically insert and delete items.
- Items can be randomly accessed in constant time.
- Set and dict has no random access.
- In array or list , the items stored in continuous location and these references are already present in cache memory so accessing it easily.

In [ ]:
def avg_of_list(list1):
  n=len(list1)
  sum=sum(list1)
  avg=sum/n
  return avg

In [ ]:
def avg_of_list(list1):
  sum=0
  for item in list1:
    sum=sum+item
  n=len(list1)
  return sum/n

In [ ]:
def separate_odd_even(list1):
  even=[]
  odd = []
  for item in list1:
    if item%2==0:
      even.append(item)
    else:
      odd.append(item)
  return odd,even

In [ ]:
x1 = [10,41,30,15,80]

In [ ]:
separate_odd_even(x1)

([41, 15], [10, 30, 80])

In [ ]:
def get_smaller_list(list1,num):
  smaller_list = []
  for item in list1:
    if item<num:
      smaller_list.append(item)
  return smaller_list

### List Comprehension

In [ ]:
# create even number list using list comprehension

In [ ]:
even_list = [item for item in range(15) if item%2==0]

In [ ]:
even_list

[0, 2, 4, 6, 8, 10, 12, 14]

In [ ]:
odd_list = [item for item in range(15) if item%2!=0]

In [ ]:
odd_list

[1, 3, 5, 7, 9, 11, 13]

### Dictionary Comprehension

In [ ]:
list1= [i for i in range(8)]
dict1= {x:x**2 for x in list1}
#key is x and value is x**2 and creating from base list1
dict1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
dict2 = {x:f"some_value_for_{x}" for x in list1}
dict2

{0: 'some_value_for_0',
 1: 'some_value_for_1',
 2: 'some_value_for_2',
 3: 'some_value_for_3',
 4: 'some_value_for_4',
 5: 'some_value_for_5',
 6: 'some_value_for_6',
 7: 'some_value_for_7'}

In [ ]:
list1 = [i for i in range(0,10)]
list2 = [j for j in range(10,20)]
list3 = zip(list1,list2)
dict3 = {list1[i]:list2[i] for i in range(10)}
dict3

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}

In [ ]:
test_list = [23,3,23,45,78,333,21,2,1]

Get largest element in the list

In [ ]:
def get_largest_num(test):
  for x in test:
    for y in test:
      if y>x:
        break
    else:
      return x

# time complexity = O(n**2)

In [ ]:
get_largest_num(test_list)

333

In [ ]:
# Make Solution Efficient - Time Complexity - O(n)
def get_max(test):
  max_item=test[0]
  for item in range(1,len(test)):
    if test[item]>max_item:
      max_item = test[item]
  return max_item

In [ ]:
get_max(test_list)

333

Get Second Largest Element in List

In [ ]:
def get_second_max(test): # one traveral solution
  if len(test)<=1:
    return None
  max_val = test[0]
  second_max = None
  for item in test[1:]:
    if item > max_val:
      second_max = max_val
      max_val = item

    elif item != max_val:
      if second_max == None or second_max < item:
        second_max = item
  return second_max

In [ ]:
get_second_max(test_list)

78

Check if the list is sorted in ascending order

In [ ]:
def is_sorted(test):
  if len(test)<2:
    return True

  for item in range(len(test)-1):
    if test[item]>test[item+1]:
      return False
  else:
    return True

In [ ]:
is_sorted([1,2,2,4,5])

True

Find element in list which is appearing odd no. of times

In [ ]:
def odd_occurence(test): #Simple and Efficient
  only_odd = None
  for item in test:
    occurence = test.count(item)
    if occurence%2!=0:
      only_odd = item
      break
  return only_odd

In [ ]:
odd_occurence([10,10,20,20,20,20,30,30,10])

10

In [ ]:
def odd_occurence2(test):
  res = 0
  for item in test:
    res = XOR(res,item)
  return res
# Using Bitwise Operation
"""
  XOR(x,0)=x means if two bits are same then output will be 0 otherwise 1.
  XOR(x,x)=0
  Using this we can get odd appering element
 """

'\n  XOR(x,0)=x means if two bits are same then output will be 0 otherwise 1.\n  XOR(x,x)=0\n  Using this we can get odd appering element\n '

Reverse the given list

In [ ]:
def reverse_list(test):
  reversed = test[::-1]
  return reversed

In [ ]:
t1 = ["geeks","ide","coursera"]
t2 = [1,2,3,4,5]

In [ ]:
reverse_list(t1)

['coursera', 'ide', 'geeks']

In [ ]:
def reverse_list1(test):
  start = 0
  end = len(test)-1
  while start < end:
    test[start],test[end] = test[end],test[start]
    start = start+1
    end = end-1
    print(test)

In [ ]:
reverse_list1(t1)

['coursera', 'ide', 'geeks']

Left rotate the list

In [ ]:
def left_rotate(test):
  last = test[0]
  test = test[1:] + [last]
  return test

In [ ]:
left_rotate([10,20,30,40])

[20, 30, 40, 10]

In [ ]:
def rotate_left(test):
  n=len(test)
  first =test[0]
  for item in range(1,n):
    test[item-1]=test[item]
  test[n-1]=first
  return test

In [ ]:
res = rotate_left([10,20,30,40])

Left rotate the list by d-places

In [ ]:
def left_rotate_by_d1(test,d):
  test=test[d:] + test[:d]
  return test

In [ ]:
left_rotate_by_d1(res,2)

[40, 10, 20, 30]

In [ ]:
def left_rotate_by_d2(test,d): # space complexity is O(nd)
  for i in range(d):
    test.append(test.pop(0))
  return test

In [ ]:
def left_rotate_by_d3(test,d): # constant auxilary space
   n=len(test)
   # first rotate first d elements , then reverse the last rest of the element left and the reverse the entire list
   first = test[:d][::-1]
   second = test[d:][::-1]
   x = first + second
   return x[::-1]

In [ ]:
left_rotate_by_d3([1,2,3,4,5],3)

[4, 5, 1, 2, 3]

## 1.3 - Strings

For apostrophy s we use \'s backslash is used for escaping the particular character

In [ ]:
print("Welcome to Uzair\'s Home")

Welcome to Uzair's Home

backslash n is use to print new line

In [ ]:
print("Hi,\nThis is new office")

Hi,
This is new office

In [ ]:
print("\\n GoodMorning")

\n GoodMorning

In [ ]:
print("\\t Good Morning")

\t Good Morning

Reverse the String

In [ ]:
test_text = "The quick brown fox jumps over the lazy dog."

In [ ]:
print(test_text[::-1])

.god yzal eht revo spmuj xof nworb kciuq ehT

Strings are immutable in python

In [ ]:
def reverse_text(text):
  reversed = ""
  for item in text:
    reversed = item + reversed
  print(reversed)

In [ ]:
reverse_text(text="abcd")

dcba

The unicode representation is used for each character in python. Each character is associated with unicode numeral value.
In String , if we compare two string, we do characterwise comparsion S1>S2 etc.
The character A to Z are stored from values 65 to 90.
The character a to z are stored from 97 to 122.

In [ ]:
t1 = "geeksforgeeks"
t2 = "geeks"

In [ ]:
print(t1 in t2)

False

In [ ]:
print(t2 in t1)

True

In [ ]:
print(t1.index(t2)) # Provide first index of t2 in t1

0

In [ ]:
# print(t2.index(t1)) # ValueError: substring not found #

In [ ]:
"""
string.rindex(substring, start, end)
"""

'\nstring.rindex(substring, start, end)\n'

In [ ]:
print(t1.index(t2,6,13)) # starting and ending index of search

8

substring: This is the substring you want to search for within the given string.
start (optional): This parameter specifies the starting index from which the search should begin. It is an optional parameter, and if not provided, the search will start from the beginning of the string (index 0).
end (optional): This parameter specifies the ending index at which the search should stop. It is also an optional parameter, and if not provided, the search will continue to the end of the string.

In [ ]:
print(test_text.split()) # split based on white space

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

In [ ]:
print(test_text.split("."))

['The quick brown fox jumps over the lazy dog', '']

In [ ]:
t3 = "The quick brown,fox jumps over, the lazy dog"

In [ ]:
print(t3.split(",")) # splitting based on commas

['The quick brown', 'fox jumps over', ' the lazy dog']

In [ ]:
t4 = test_text.split()

In [ ]:
"TT".join(t4)

'TheTTquickTTbrownTTfoxTTjumpsTToverTTtheTTlazyTTdog.'

In [ ]:
t5= "-y-something--x--"

In [ ]:
t5.lstrip()

'-y-something--x--'

rstrip(): This method removes characters from the end (right) of a string until it encounters a character that is not in the specified set of characters to strip.

In [ ]:
t2.find(t1)

-1

In [ ]:
t1.find(t2)

0

Pattern Searching in Python

In [3]:
t1 = "AAAAA"
p1 = "AAA"
t2 = "geeks for geeks"
p2 = "geeks"

In [15]:
def find_pattern(txt,pat):
  pos = txt.find(pat)
  while pos>=0:
    pos=txt.find(pat,pos+1)
    print("pos",pos)

In [16]:
find_pattern(t1,p1)

pos 1
pos 2
pos -1

In [17]:
def find_patterns(t2,p2):
  occurrences = []
  index = t2.find(p2)

  while index != -1:
      occurrences.append(index)
      index = t2.find(p2, index + 1)
  return occurrences

Check Palindrome

In [24]:
e = 10022001

In [34]:
def check_palindrome(ex):
  str_ex = str(ex)
  reversed = str_ex[::-1]
  if str_ex == reversed:
    print("It is Palindrome")
  else:
    print("Not Palindrome")

In [35]:
check_palindrome(e)

It is Palindrome

Check Anagram

In [36]:
# An anagram is a word or phrase formed by rearranging the letters of another word or phrase

In [49]:
s1 = "listen"
s2 = "silent "

In [54]:
def check_anagram(ex1,ex2):
  ex1 = ex1.replace(" ","").lower()
  ex2 = ex2.replace(" ","").lower()
  if sorted(ex1)==sorted(ex2):
    print("It is anagram")
  else:
    print("It is not the anagram")

In [55]:
check_anagram(s1,s2)

It is anagram